<style>
  .post-container {
  position: relative;
  border: 1px solid #000;
  cursor: pointer;
  padding: 1rem;
}

.post {
  position: absolute;
  top: 0;
  right: 0;
}

</style>

<div class="post-container">
   <h3 class='post-title'>
      <%= post.Title %>
   </h3>
   <p><%= post.Text %></p>
   <div class='like-comment'>
     <p>Likes: <%= post.likes_counter %></p>
     <p>Comments: <%= post.comments_counter %></p>
   </div>
</div>
